<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>

  <body>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Version</th>
          <th scope="col">License</th>
          <th scope="col">Source URL</th>
        </tr>
      </thead>
     <tbody>
        {% for package_name, vlu in deps.items() %}
          {% for version, license, url in vlu %}
        <tr>
          <td>{{ package_name }}</td>
          <td>{{ version }}</td>
          <td>{{ license }}</td>
          <td>{% if url %}<a target="_new" href="{{ url }}">{{ url }}</a>{% endif %}</td>
        </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <p>Generated: {{ now.strftime('%d-%m-%Y %H:%M:%S') }}, {{ deps|length }} packages</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>